/* color palette: #007D7B (teal) #FFFFFF #000000 */

/* css TOC: 
    GLOBAL -- line 14
    NAV -- line 47
    ABOUT -- line 90
    GALLERY -- line 105
    CONTACT -- line 116
    FOOTER -- line 160
    CLASSES -- line 169
    IDS -- line 217
*/

/* ----- GLOBAL ----- */

html {
    background-color: #000000;
}

body {
    width: 1310px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    font-size: 40px;
    text-transform: uppercase;
    margin: 0;
}

h1 {
    color: #007D7B;
    background-color: #000000;
    padding: 20px;
    float: left;
}

main {
    clear: both;
}

p, li {
    font-size: 20px;
}

/* ----- NAV ----- */

nav {
    float: right;
}

nav h2 {
    visibility: hidden;
    height: 0;
}

nav li {
    display: inline-flex;
    padding: 15px;
    margin-left: 65px;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

nav a:hover {
    color: #007D7B;
}

[href="#top"]{
    color: #FFFFFF;
    background-color: #007D7B;
    text-align: center;
    width: 75px;
    position:fixed;
    bottom: 2.5px;
    right: 2.5px;
}

[href="#top"]:hover {
    color: #007D7B;
    background-color: #FFFFFF;
}

/* ----- ABOUT ----- */

#about img {
    float: left;
}

#about h2, #about p {
    text-align: right;
    margin: 4px;
}

#about div {
    padding-left: 10px;
}

/* ----- GALLERY ----- */

#gallery h2 {
    padding-top: 10px;
    clear: both;
}

#gallery p {
    margin: 4px;
}

/* ----- CONTACT ----- */

form {
    text-transform: uppercase;
    font-size: 16px;
    width: 850px;
    margin-left: 230px;
}

#contact h2, #contact p {
    text-align: center;
}

#contact h2 {
    padding-top: 15px;
}

input {
    width: 850px;
    height: 40px;
    margin: 5px 0px 10px;
}

input::placeholder {
    color: #007D7B;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

label {
    text-align: left;
}

button {
    background-color: #007D7B;
    color:#FFFFFF;
    text-transform: uppercase;
    border-radius: 10px;
    width: 300px;
    height: 40px;
    margin: 15px 275px;
}

/* ----- FOOTER ----- */

footer {
    color: #FFFFFF;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
}

/* ----- CLASSES ----- */

.col {
    float: left;
    width: 33.33%;
    background-color: #FFFFFF;
}

.container {
    position: relative;
    background-color:#FFFFFF;
    width: 420px;
    padding-top: 0;
    margin: 5px;
}

.captionwht, .captionblk {
    font-size: 16px;
    text-transform: uppercase;
    z-index: 2;
}

.captionblk {
    color: #000000;
}

.captionwht {
    color: #FFFFFF;
}

.TopLeft {
    position: absolute;
    top: 5px;
    left: 5px;
}

.BottomLeft {
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.BottomRight {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

/* ----- IDS ----- */

#wrapper {
    background-color: #FFFFFF;
    display: inline-block;
}

#about, #gallery {
    padding: 10px;
}

#contact {
    color: #FFFFFF;
    clear: both;
    margin-bottom: 25px;
}